@font-face {
  font-family: Aleo;
  src: url(Aleo-Regular.ttf);
}

body {
  margin: 0px;
  background-image: url("pattern.jpg"); 
  background-attachment: scroll;
}

#logo1 img {
  max-height: 75px;;
  padding-left: 50px;
}

.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background:  	#cfcfcf;
}

.ul1 li {
  padding: 8px;
  display: flex;
  align-items: center;
  color: white;
  font-family: "Aleo";
}

.login1 {
  flex-grow: 1;
  justify-content: end;
  padding-right: 100px;
}

.nav2{
  background: #FFFFFF;
  display: flex;
}

#logo2 img {
  max-height: 75px;;
  padding-left: 50px;
}

.ul2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background:  	#FFFFFF;
}

.ul2 li {
padding: 8px;
display: flex;
align-items: center;
color: #424242;
font-family: "Aleo";
}

.hero-image img {
width: 100%
}

.hero-text {
text-align: center;
position: absolute;
top: 550px;
left: 50%;
transform: translate(-50%, -50%);
color:#000000;
font-family: "Aleo";
}

button{
    background-color: #4169E1;
    color: white;
    border: 2px solid white; 
    font-family: "Aleo";
}